<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>태극기</title>
    <link rel="stylesheet" href="/static/common/styles.css">
</head>
<body>
    <div class="taegeukgi">
        <div class="taegeuk"></div>
        <div class="trigrams">
            <div class="top">
                <div class="sky">
                    <span class="brick"></span>
                    <span class="brick"></span>
                    <span class="brick"></span>
                </div>
                <div class="water">
                    <span class="brick"></span>
                    <span class="brick"></span>
                    <span class="brick"></span>
                    <span class="brick"></span>
                    <span class="brick"></span>
                </div>
            </div>
            <div class="bottom">
                <div class="fire">
                    <span class="brick"></span>
                    <span class="brick"></span>
                    <span class="brick"></span>
                    <span class="brick"></span>
                </div>
                <div class="earth">
                    <span class="brick"></span>
                    <span class="brick"></span>
                    <span class="brick"></span>
                    <span class="brick"></span>
                    <span class="brick"></span>
                    <span class="brick"></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>