<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="styles/mainStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
</head>
<body>
<div id="main">
    <div id="app_area">
        <div id="window">
            <!--header-->
            <div th:include="common/header"></div>
            <!--navbar-->
            <div class="mid-container">
                <div th:include="common/navbar"></div>

            </div>
            <!--내용 작성하는 div-->
            <!--                <div class="content">여기다가 작성하면 되나욤</div>-->

            <!--footer-->
            <div th:include="common/footer"></div>
        </div>
    </div>
</div>
</body>
</html>