<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="styles/footerStyle.css">
    <link rel="stylesheet" href="styles/middleStyle.css">
    <link rel="stylesheet" href="styles/headerStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
</head>
<body>
    <!--Header-->
    <div class="header">
        <p class="gym">Gym</p>
        <p class="family">家</p>
        <img class="profile" src="images/윤수빈.png">
        <p class="welcome">환영합니다, 윤수빈 대표님!</p>
        <img class="icon" src="images/Alarm.png">
        <img class="icon" src="images/Gear.png">
        <img class="icon2" src="images/Logout.png">
    </div>

    <div class="middleTap1">
        <div class="middleTap2">
            <div class="category">
                <img src="images/매출조회.png">
                <p>매출 조회</p>
                <img src="images/회원조회.png">
                <p>회원 조회</p>
                <img src="images/직원조회.png">
                <p>직원 조회</p>
                <img src="images/이용권관리.png">
                <p>이용권 관리</p>
                <img src="images/일정관리.png">
                <p>일정 조회</p>
                <img src="images/시설관리.png">
                <p>시설 관리</p>
            </div>
        </div>
    </div>

    <!--Footer-->
    <div class="background">
        <div class="footerBar">
            <p class="About">About</p>
            <p class="Email">Email</p>
            <p class="Tel">Tel.</p>
            <p class="Wt">Website Terms</p>
            <p class="cut">|</p>
            <p>Privacy Policy</p>
            <p class="cut">|</p>
            <p>Accessbility Statement</p>
            <p class="c">©</p>
            <p class="copy">copyright.  all rights reserved</p>
        </div>
    </div>
</body>
</html>