

.background {
    width: 1536px;
    height: 72px;
    margin: 0 auto;
    background-color: pink;
    display: flex;
    justify-content: center;
}

.footerBar {
    width: 1456px;
    height: 56px;
    background: #4B82D8;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;

}

p {
    font-size: 12.8px;
    color: #FFFFFF;
}

.About {
    font-size: 19.2px;
    font-weight: bold;
    margin-left: 39px;
}

.Email, .Tel{
    font-size: 19.2px;
    font-weight: bold;
    margin-left: 54px;
}

.Wt {
    font-size: 12.8px;
    margin-left: 193px;
}

.cut {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 14px;
}

.c {
    font-size: 19.2px;
    margin-left: 222px;
}

.copy {
    font-size: 16px;
    margin-left: 14px;
}


