.header {
    width: 1506px;
    max-width: 100%;
    aspect-ratio: 100/3.85;
    background-color: white;
    display: flex;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

.empty0 {
    width: 2.32vw;
}

.gym {
    font-size: 2vw;
    font-weight: bold;
    color: #4B82D8;
}

.empty1 {
    width: 0.66vw;
}

.family {
    width: 3.18vw;
    aspect-ratio: 100/3.85;
    border-radius: 50%;
    background-color: #4B82D8;
    font-size: 2.01vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.empty2 {
    width: 30.87vw;
}

.profile {
    width: 2.78vw;
    aspect-ratio: 1/1;
}

.empty3 {
    width: 1.32vw;
}

.welcome {
    width: 22.7vw;
    font-size: 1.27vw;
    font-weight: bold;
    color: #656565;
}

.empty4 {
    width: 24.76vw;
}

.icon {
    width: 1.92vw;
}

.empty5 {
    width: 1.59vw;
}

@media screen and (min-width: 1200px) {
    .gym {
        font-size: 30.4px;
    }

    .family {
        font-size: 30.4px;
    }

    .welcome {
        font-size: 19.2px;
    }
}
