<link rel="stylesheet" href="/styles/footerStyle.css">
<footer>
    <div class="footer">
        <div class="footer-empty0"></div>
        <div class="big-font">About</div>
        <div class="footer-empty0"></div>
        <div class="big-font">Email</div>
        <div class="footer-empty0"></div>
        <div class="big-font">Tel.</div>
        <div class="footer-empty1"></div>
        <div class="small-font">Website Terms</div>
        <div class="footer-empty2"></div>
        <div class="cut">|</div>
        <div class="footer-empty2"></div>
        <div class="small-font">Privacy Policy</div>
        <div class="footer-empty2"></div>
        <div class="cut">|</div>
        <div class="footer-empty2"></div>
        <div class="small-font">Accessbility Statement</div>
        <div class="footer-empty3"></div>
        <div class="c">©</div>
        <div class="footer-empty4"></div>
        <div class="copy">copyright. all rights reserved</div>
        <div class="footer-empty5"></div>
    </div>
</footer>