<link rel="stylesheet" href="/styles/navbarStyle.css">

<div class="category-container">
    <div class="category-box">
        <div class="icon">
            <img src="/images/매출조회.png">
            <p>매출 조회</p>
        </div>
        <div class="icon">
            <img src="/images/회원조회.png">
            <p>회원 조회</p>
        </div>
        <div class="icon">
            <img src="/images/직원조회.png">
            <p>직원 조회</p>
        </div>
        <div class="icon">
            <img src="/images/이용권관리.png">
            <p>이용권 관리</p>
        </div>
        <div class="icon">
            <img src="/images/일정관리.png">
            <p>일정 조회</p>
        </div>
        <div class="icon">
            <img src="/images/시설관리.png">
            <p>시설 관리</p>
        </div>
    </div>
</div>
